@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial" ;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 40px 0 20px;
}
.container .heading{
    width: 40%;
    padding-bottom: 20px;
}
.container .heading h3{
    font-size: 3em;
    font-weight: bold;
    border-bottom: 2px solid #222;
}  
.container .heading h3 span{
    font-weight: 100;
} 
.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.container .box .time {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.container .box .time img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}







